table {
  width: 100%;
}
.card{
  width: 80%;
  margin: 10%;
}
.loading-spinner{
  padding: 5%;
  background-color: rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
